/*       circular images using class */
.circular_image {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
}
/* styling body */
body {
    background-color: #eaf6f6;
}
/* styling horizontal row */
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}